body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #000;
}

h1 {
    font-size: 250%
}

p {}

.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

img {}

.right {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
}

nav {
    background-color: black;
}

.arrow {
    width: 2.5em;
    text-shadow: 2em;
}

h2 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

h4 {
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
}

.logo {
    height: 100%;
}

.more {
    font-size: .6em;
}

.feat {
    color: black
}

.features{
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 25px;
    letter-spacing: 8px;
}

#slide1 {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
}

.one h2 {
    font-size: 5em;
}

.one p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: justify;
    letter-spacing: .4em;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 201%;
    letter-spacing: 1em;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url("../img/game3.png");
    background-attachment: fixed;
}

.arrow-up {
    padding-bottom: 50px;
    transform: rotate(180deg);
    width: 2.5em;
    text-shadow: 2em;
}

#slide3 center img {
    width: 100%;
}

#slide1:before {
    background: #000;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide2 {
    background-image: url("..//img/feat3.png");
    background-attachment: fixed;
}

#slide3 {
    background-color: #424142;
    height: 1450px;
}

#slide3:before {
    background-color: #424142;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide3 p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.5em;
    text-align: justify;
    letter-spacing: .4em;
}

#slide4 {
    background: #655847;
    font-family: 'Raleway', sans-serif;
}

#slide4 hr{
    color: #fff;
}

#slide4 h1 {
    color: #fff;
    font-size: 290px;
}

#slide4 ul{
    color: #fff;
    font-size: 25px;
    letter-spacing: 8px;
}

#slide5{
    height: 2000px;
}